<div
    x-data="{ open: false }"
    @keydown.escape="onEscape"
    @close-popover-group.window="onClosePopoverGroup"
>
    <div class="relative pt-6 px-4 sm:px-6 lg:px-8">
        <nav
            class="relative flex items-center justify-between sm:h-10 lg:justify-start"
            aria-label="Global"
        >
            <div class="flex items-center grow shrink-0 lg:grow-0">
                <div
                    class="flex items-center justify-between w-full md:w-auto"
                >
                    <a href="#">
                        <span class="sr-only">Workflow</span>
                        <img
                            class="h-8 w-auto sm:h-10"
                            src="/images/logo.svg"
                            alt="bujinkan panama logo"
                            width="179"
                            height="39"
                        />
                    </a>
                    <div class="-mr-2 flex items-center md:hidden">
                        <button
                            type="button"
                            class="bg-white rounded-md p-2 inline-flex items-center justify-center text-neutral-400 hover:text-neutral-500 hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-rose-500"
                            @click="open = true"
                            @mousedown="if (open) $event.preventDefault()"
                            aria-expanded="false"
                            :aria-expanded="open.toString()"
                        >
                            <span class="sr-only"
                                >Open main menu</span
                            >
                            <svg
                                class="h-6 w-6"
                                x-description="Heroicon name: outline/menu"
                                xmlns="http://www.w3.org/2000/svg"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                                aria-hidden="true"
                            >
                                <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M4 6h16M4 12h16M4 18h16"
                                ></path>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <div
                class="hidden md:block md:ml-10 md:pr-4 md:space-x-8"
            >
                <a
                    href="#bujinkan"
                    class="font-medium text-neutral-500 hover:text-neutral-900"
                    >Bujinkan</a
                >

                <a
                    href="#maestros"
                    class="font-medium text-neutral-500 hover:text-neutral-900"
                    >Maestros</a
                >

                <a
                    href="#preguntas"
                    class="font-medium text-neutral-500 hover:text-neutral-900"
                    >Preguntas</a
                >

                <a
                    href="#contacto"
                    class="font-medium text-rose-600 hover:text-rose-500"
                    >Contacto</a
                >
            </div>
        </nav>
    </div>

    <div
        x-show="open"
        x-transition:enter="duration-150 ease-out"
        x-transition:enter-start="opacity-0 scale-95"
        x-transition:enter-end="opacity-100 scale-100"
        x-transition:leave="duration-100 ease-in"
        x-transition:leave-start="opacity-100 scale-100"
        x-transition:leave-end="opacity-0 scale-95"
        x-description="Mobile menu, show/hide based on menu open state."
        class="absolute z-10 top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden"
        x-ref="panel"
        @click.away="open = false"
    >
        <div class="rounded-lg shadow-md bg-white overflow-hidden">
            <div
                class="px-5 pt-4 flex items-center justify-between"
            >
                <div>
                    <img
                        class="h-8 w-auto"
                        src="/images/logo.svg"
                        alt="bujinkan panama logo"
                        width="179"
                        height="39"
                    />
                </div>
                <div class="-mr-2">
                    <button
                        type="button"
                        class="bg-white rounded-md p-2 inline-flex items-center justify-center text-neutral-400 hover:text-neutral-500 hover:bg-neutral-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-rose-500"
                        @click="open = false"
                    >
                        <span class="sr-only">Close main menu</span>
                        <svg
                            class="h-6 w-6"
                            x-description="Heroicon name: outline/x"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="none"
                            viewBox="0 0 24 24"
                            stroke="currentColor"
                            aria-hidden="true"
                        >
                            <path
                                stroke-linecap="round"
                                stroke-linejoin="round"
                                stroke-width="2"
                                d="M6 18L18 6M6 6l12 12"
                            ></path>
                        </svg>
                    </button>
                </div>
            </div>
            <div class="px-2 pt-2 pb-3 space-y-1">
                <a
                    href="#bujinkan"
                    class="block px-3 py-2 rounded-md text-base font-medium text-neutral-700 hover:text-neutral-900 hover:bg-neutral-50"
                    >Bujinkan</a
                >

                <a
                    href="#maestros"
                    class="block px-3 py-2 rounded-md text-base font-medium text-neutral-700 hover:text-neutral-900 hover:bg-neutral-50"
                    >Maestros</a
                >

                <a
                    href="#preguntas"
                    class="block px-3 py-2 rounded-md text-base font-medium text-neutral-700 hover:text-neutral-900 hover:bg-neutral-50"
                    >Preguntas</a
                >
            </div>
            <a
                href="#contacto"
                class="block w-full px-5 py-3 text-center font-medium text-rose-600 bg-neutral-50 hover:bg-neutral-100"
            >
                Contacto
            </a>
        </div>
    </div>
</div>
